# Django settings
DEBUG=1
SECRET_KEY=1289379167468

# Database settings
DB_NAME=drf_homework
DB_USER=drf_user
DB_PASSWORD=drf_password
DB_HOST=db
DB_PORT=5432

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Stripe settings
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key

# Email settings
EMAIL_USERNAME=your-email@yandex.ru
EMAIL_PASSWORD=your-email-password

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
